<body>
    <nav class="footer">
        <h3>Contact</h3>
        <ul>
            <li>Tel: 06-23463195</li>
            <li>Email: klusserfind@support.com</li>
            <li>Addres: Gouden Leeuw 146 1103 KC Amsterdam</li>
        </ul>
    </nav>
</body>