<body>
    <nav class="footer">
        <ul>
            <h3>Contact</h3>
            <li class="footerli"><strong>Tel:</strong> 06-23463195</li>
            <li class="footerli"><strong>Email:</strong> klusserfind@support.com</li>
            <li class="footerli"><strong>Addres:</strong> Gouden Leeuw 146 1103 KC Amsterdam</li>
        </ul>
    </nav>
</body>