<!DOCTYPE html>
<html lang="en">

<meta name="viewport" content="width=device-width, initial-scale=1.0">

<head>

<title>Klusser find</title>

<%- include('includes/head'); -%>

</head>

<body>
<%- include('includes/header'); -%>

  <h3 id="voorkeur">Vul hier voorkeuren in voor klussers</h3>

  <div class="line"></div>

<form action="profile" method="post">

  <label name="vak" for="vak"> Welk vakgebied: </label>

  <input name="vak" id="vak" type="text" placeholder="Bijv: Schilder" required/>
  
  <label for="nat" name="nat"> Deze taal moet gesproken kunnen worden: </label>

  <input name="nat" id="nat" type="text" placeholder="Bijv: Duitsland" required/>

  <label name="hoelang" for="hoelang"> Hoe lang duurt de klus: </label>

  <input name="hoelang" id="hoelang" type="text" placeholder="Bijv: 1 week ongeveer" required/>

    <label> Aantal jaar ervaring: </label>

   <select id="ervaring" required>

    <option value="1-5">1-5 Jaar</option>
    <option value="10">5-10 Jaar</option>
    <option value="15">10-15 Jaar</option>
    <option value="15+">15+ Jaar</option>


  </select>
  
  <button> zoeken </button>

</form>

  <%- include('includes/footer'); -%>
    
</body>

</html>