<!DOCTYPE html>
<html lang="en">
<head>

    <%- include('includes/head'); -%>

</head>
<body>

    <%- include('includes/header'); -%>

<h1>Kies een klusser</h1>

<h3>Hier zijn de klussers die aan jouw criteria voldoen</h3>

<button class="filter">Filter</button>

<article>
  <h1 id="naampersoon"></h1>
  <h3 id="gender"></h3>
  <p id="nationaal"></p>
  <p id="vak"></p>
  <p><button class="contact">Bekijk profiel</button></p>
</article>

    <%- include('includes/footer'); -%>
    
</body>

<script src="dinges.js"></script>

</html>